.MatchupsDashboard__ContentContainer {
    margin: .5rem;
    background: var(--grey-background);
    border: solid 1px rgba(0, 0, 0, .1);
    border-radius: 1rem;
    position: relative;
    overflow: auto;
}

.MatchupsDashboard__Tabs {
    grid-area: tabs;
}

.MatchupsDashboard__Schedule {
    grid-area: schedule;
}

.MatchupsDashboard__Contest {
    grid-area: contest;
    max-height: 60vh;
}

.MatchupsDashboard__Standings {
    grid-area: standings;
    overflow-y: auto;
    max-height: 60vh;
}

.MatchupsDashboard__Layout {
    display: flex;
    flex-direction: column;
}

.MatchupsDashboard__CurrentLineup {
    text-align: center;
    margin: 6rem 0;
}

@media screen and (min-width: 768px) {
    .MatchupsDashboard__Layout {
        max-height: 100%;
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 9rem 50vh;
        grid-template-areas:
                "tabs schedule"
                "contest standings"
    }
}