.Main__Background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding-top: 9.6rem;
    background-color: var(--primary-color);
}

@media screen and (max-width: 600px) {
    .Main__Background {
        padding-top: 5.5rem
    }
}

.Main__TopPlayers {
    text-align: center;
}

@media screen and (min-width: 568px) {
    .Main__TopPlayers {
        top: 65vh;
    }
}

.Main__TopPlayersHeading {
    color: var(--grey-text);
    font-weight: 700;
}

.A2HS-Button {
    display: none;
    position: absolute;
    left: 1.6rem;
    top: .5rem;
    z-index: 5;
}

.Main__Logo--placeholder {
    position: relative;
    display: block;
    margin: 2rem auto 4rem;
    width: 90vw;
    height: 45vh;
}

.Main__Logo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.Main__PlayNowButton {
    margin: 0 auto 3rem;
    display: table;
}

.Main__TopPlayersCard {
    width: 100%;
    max-width: 35rem !important;
    pointer-events: none;
    height: 4.5rem !important;
}

.Main__TopPlayersCard--FP {
    padding-top: 10rem !important;
}