:root {
  --primary-color: #2c3e50;
  --secondary-color: #18bc9c;
  --tertiary-color: #ecf0f1;
  --grey-text: #696969;
  --grey-background: #f5f5f5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0; 
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  padding-top: 6.6rem;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
}

a:hover {
  text-decoration: none;
}

.tab-no-outline {
  outline: none !important;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.col-md-12 {
  padding: 0;
}

.dropdown-header {
  font-size: 1.35rem;
}

.tooltip {
  font-size: 1.6rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.progress {
  height: 1rem;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: var(--grey-background);
}

.table-sm td {
  vertical-align: middle;
}

.navbar {
  min-height: 6.6rem;
}

.Navbar__Logo {
  order: -2;
}

.Navbar__Icon {
  display: none;
}

.Navbar__Title {
  display: none;
}

.Navbar__user-dropdown--username {
  font-size: 2.5rem;
  font-weight: 700;
}

.no-arrow::after {
  display: none;
}

.navbar-login {
  width: 30rem;
  padding: 1rem;
}

.Main__Background {
  background-color: var(--primary-color);
}

.A2HS-Button {
  display: none;
  position: absolute;
  left: 1.6rem;
  top: 7.5rem;
  background-color: #F15A29;
  border-color: #F15A29;
}

.Main__LogoContainer {
  width: 70vw;
  height: 50vh;
  margin: 0 auto;
  position: relative;
}

.Main__Logo {
  margin: 0 auto;
  width: 60%;
  max-width: 50rem;
  min-width: 25rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);  
}

.Main__PlayNowButton {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);  
  transform: translateX(-50%);
  background-color: #F15A29;
  border-color: #F15A29;
}

#main-text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  border: none;
  font: normal "Anton", Helvetica, sans-serif;
  font-size: 4.8rem;
  line-height: normal;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1rem;
  text-shadow: .4rem .4rem 0 var(--secondary-color), .6rem .6rem 0 var(--primary-color);
  margin-top: 40%;
}

.Notifications__UnreadCounter {
  font-size: 1.1rem;
  position: absolute;
  right: .2rem;
  top: .2rem;
}

.AllNotifications {
  padding: 0;
  width: 27rem;
}

.NotificationCard {
  transition: background-color .3s;
}

.NotificationCard:hover {
  background-color: var(--grey-background);
  transition: background-color .3s;
}

.NotificationCard--unread {
  background-color: var(--grey-background);
  border-left: .25rem solid var(--secondary-color);
  transition: background-color .3s, border-left .3s;
}

.NotificationCard--unread:hover {
  background-color: #e8e8e8;
  border-left: .25rem solid red;
  transition: background-color .3s, border-left .3s;
}

.NotificationCard__Body {
  margin: -.8rem;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.NotificationCard__Image {
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NotificationCard__Image--player {
  width: 5rem;
  padding-top: .4rem;
  margin-left: -.5rem;
}

.notification-circle {
  overflow: hidden;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.NotificationCard__Title {
  font-size: 1.7rem;
  font-weight: 700;
  opacity: .85;
  margin: 0;
}

.NotificationCard__Text {
  font-size: 1.6rem;
  margin: 0;
}

.NotificationCard__Date {
  font-size: 1.6rem;
  margin: 0;
}

.InjuryCardContainer {
  position: relative;
  max-width: 22rem;
  width: 45vw;
  height: 29rem;
  min-width: 12.7rem;
  min-height: 10rem;
  -webkit-perspective: 100rem;
          perspective: 100rem;
  margin: 0 auto;
}

.InjuryCardContainer .active {
  -webkit-transform: translateZ(0px) rotateY(180deg) !important;
          transform: translateZ(0px) rotateY(180deg) !important;
}
.InjuryCardContainer .active:after {
  display: none;
}

.InjuryCard {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.InjuryCard:after {
  content: "";
  /* position: absolute; */
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}

.InjuryCard:hover {
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

.InjuryCard:hover:after {
  opacity: 1;
}

.InjuryCard .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}

.InjuryCard .front {
  z-index: 2;
}

.InjuryCard .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.InjuryCard .info {
  position: relative;
  padding: 0 1rem 0 1rem;
  margin-top: 1.5rem;
  height: 50%;
  overflow: hidden;
  overflow-y: auto;
}

.InjuryCard__PlayerImage--background {
  z-index: -5;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.InjuryCard__PlayerImage {
  z-index: 50 !important;
}

.InjuryCard__TeamLogo--behind {
  position: absolute;
  left: 0;
  top: 1rem;
  z-index: -2;
}

.InjuryCard__PlayerName {
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: 700;
  opacity: .9;
}

.InjuryCard__Datetime {
  position: absolute;
  right: .5rem;
  bottom: 0.5rem;
  font-size: 1.4rem;
  color: var(--grey-text);
  font-weight: 300;
}

.InjuryCard__PlayerName--back {
  font-size: 1.7rem;
}

.InjuryCard__StatusBadge {
  position: absolute;
  bottom: -.5rem;
  left: 0;
  padding: 0 .5rem;
  font-size: 1.6rem;
  font-weight: 700;
  z-index: 5;
}

.injury-active {
  background: green;
  color: white !important;
}
.injury-out {
  background: red;
}
.injury-questionable {
  background: #ffd700;
}

.InjuryCard__Title {
  font-size: 1.6rem;
}

.InjuryCard__PlayerPosition {
  position: absolute;
  right: .8rem;
  top: .8rem;
  background-color: var(--primary-color);
  font-size: 1.6rem;
  color: var(--tertiary-color);
}

.InjuryCard .back {
  overflow-y: auto;
  position: relative;
}

.info::-webkit-scrollbar-track,
.back::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 1rem;
	background-color: #F5F5F5;
}

.info::-webkit-scrollbar,
.back::-webkit-scrollbar
{
	width: .3rem;
	background-color: #F5F5F5;
}

.info::-webkit-scrollbar-thumb,
.back::-webkit-scrollbar-thumb
{
	border-radius: 1rem;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #A5A5A5;
}

.InjuryCard__BackInfo {
  padding: 1rem 1.5rem;
}

.Injury__Description {
  font-size: 1.4rem;
  overflow: hidden;
  text-align: justify;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.player-card::before,
.player-card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .38s ease-in-out, transform .7s ease-in-out;
  content: "";
  opacity: 0;
  pointer-events: none;
}
.player-card::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: .1rem solid #acacac;
  border-bottom: .1rem solid #acacac;
}
.player-card::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: .1rem solid #acacac;
  border-left: .1rem solid #acacac;
}
.player-card:hover::before,
.player-card:focus::before,
.player-card:hover::after,
.player-card:focus::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.player-card:focus {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #f8f8f8;
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  outline: none !important;
  z-index: 1000;
}

.bar {
  border-radius: .35rem;
}

.container {
  display: block;
  margin: auto;
  width: 100%;
}

.btn-no-outline {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
  cursor: pointer;
}

/*My profile*/
.Profile__UserName {
  font-weight: 700;
  font-size: 4rem;
  opacity: .7;
}

.Profile__Avatar {
  border-radius: 50%;
  width: 20rem;
  margin: 2rem;
}

.Profile__About {
  font-size: 1.6rem;
  display: block;
  word-wrap: break-word;
}

.src-image {
  display: none;
}

.UserPool__Search {
  font-size: 1.6rem;
}

input[type="search"] {
  width: 10rem;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

input[type="search"]:focus {
  width: 20rem;
}

.search {
  position: relative;
}
.search input {
  text-indent: 1.6rem;
}
.search .fa-search {
  position: absolute;
  top: .7rem;
  left: .5rem;
  font-size: 1.6rem;
}

.UserCard {
  width: 10.7rem;
  overflow: hidden;
  position: relative;
  background-color: var(--primary-color);
  border-radius: 2rem;
  text-align: center;
  border: .1rem solid var(--tertiary-color);
  margin: .5rem;
}

.UserCard .header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  border-bottom: .1rem #fff solid;
  z-index: 1;
}
.UserCard .avatar {
  position: relative;
  margin-top: 1rem;
  z-index: 100;
}

.UserCard .avatar img {
  width: 8rem;
  height: 8rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: .35rem solid rgba(0, 0, 30, .8);
}

.UserCard__UserName {
  background:var(--grey-background);
  color: #000;
  margin: 1rem;
  font-size: 75%;
  font-weight: 800;
}

.UserCard__UserName--text {
  opacity: .8;
}

.NewsCard {
  max-width: 30em;
}

.NewsCard__Info {
  height: 4.5rem;
  padding-left: 5rem;
}

.NewsCard__TeamLogo {
  width: 4.5rem;
}

/*Read more*/
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: "Show more";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Show less";
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color:var(--grey-text);
  font-size: .9em;
  line-height: 2;
  border: .1rem solid #ddd;
  border-radius: 25rem;
}

/* Rounded sliders */
.UserLeaderboard__FriendsOnly--slider.round {
  border-radius: 3.4rem;
}

.UserLeaderboard__FriendsOnly--slider.round:before {
  border-radius: 50%;
}

.UserLeaderboard__FriendsOnly {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.4rem;
}

.UserLeaderboard__FriendsOnly input {
  display: none;
}

.UserLeaderboard__FriendsOnly--slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.UserLeaderboard__FriendsOnly--slider:before {
  position: absolute;
  content: "";
  height: 2.6rem;
  width: 26px;
  left: .4rem;
  bottom: .4rem;
  background-color: var(--tertiary-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .UserLeaderboard__FriendsOnly--slider {
  background-color: var(--secondary-color);
}

input:focus + .UserLeaderboard__FriendsOnly--slider {
  box-shadow: 0 0 1px var(--secondary-color);
}

input:checked + .UserLeaderboard__FriendsOnly--slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.react-datepicker {
  transform: scale(1.6, 1.6);
  margin-top: 5rem;
}

.DatePicker {
  position: relative;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 18rem;
}

.UserLeaderboardCard {
  margin: 0 auto;
  margin-bottom: .2rem;
  width: 35%;
  min-width: 29rem;
  height: 7rem;
}

.UserLeaderboardCard--daily {
  height: 15rem;
}

.UserLeaderboardCard__body {
  padding: 0;
  display: grid;
  grid-template-columns: 15% 15% 40% 30%;
  grid-template-rows: 100%;
}

.UserLeaderboardCard__body--daily {
  padding: 0;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 40% 60%;
}

.UserLeaderboardCard__body-item {
  align-self: center;
  text-align: center;
  overflow: hidden;
}

.UserLeaderboardCard__user-ranking {
  text-align: left;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--primary-color);
  padding-left: 1rem;
}

.UserLeaderboardCard__user-ranking--daily {
  grid-column: 1 / span 2;
}

.UserLeaderboardCard__user-photo {
  text-align: left;
  grid-column: 3 / span 2;
}

.UserLeaderboardCard__user-photo--image {
  grid-column: 3 / span 2;
  overflow: hidden;
  height: 4rem;
}

.UserLeaderboardCard__username {
  text-align: left;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 400;
  white-space: nowrap;
}

.UserLeaderboardCard__username--daily {
  grid-column: 5 / span 3;
}

.UserLeaderboardCard__FP {
  margin: 0;
  align-self: center;
  font-size: 1.9rem;
  font-weight: 700;
}

.UserLeaderboardCard__FP--daily {
  grid-column: 8 / span 3;
}

.UserLeaderboardCard__FP--grey {
  height: 100%;
  border-left: .01rem solid #acacac;
  background-color: var(--grey-background);
  padding-top: 17%;
}

.UserLeaderboardCard__player {
  width: 100%;
  height: 100%;
  background-color: var(--grey-background);
  padding-top: 1rem;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-top: .01rem solid lightgrey;
}

.UserLeaderboardCard__player-photo--background {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.UserLeaderboardCard__player-photo--image {
  width: 5rem;
  overflow: hidden;
  margin-left: -.8rem;
  margin-bottom: -1.2rem;
}

.UserLeaderboardCard__player-lastname {
  font-size: 1.2rem;
  font-weight: 700;
  width: 5.5rem;
  color: var(--primary-color);
  margin: .1rem 0 0 0;
  white-space: nowrap;
}

.UserLeaderboardCard__player-fp {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-color);
  margin: 0;
}

.PlayerLeaderboardCard {
  margin: 0 auto;
  margin-bottom: .2rem;
  width: 35%;
  min-width: 28rem;
  height: 6rem;
}

.PlayerLeaderboardCard__body {
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 18% 15% 43% 24%;
  grid-template-rows: 100%;
}

.PlayerLeaderboardCard__body-item {
  align-self: center;
  overflow: hidden;
}

.PlayerLeaderboardCard__player-ranking {
  text-align: left;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--primary-color);
  padding-left: .7rem;
}

.PlayerLeaderboardCard__player-photo--background {
  margin: 0 auto;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 50%;
}

.PlayerLeaderboardCard__player-photo--image {
  width: 4.5rem;
  overflow: hidden;
  margin-left: -.5rem;
  margin-bottom: -1.2rem;
}

.PlayerLeaderboardCard__player-name--abbr {
  text-align: left;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 400;
  white-space: nowrap;
}

.PlayerLeaderboardCard__FP {
  height: 100%;
  margin: 0;
  border-left: .01rem solid #acacac;
  background-color: var(--grey-background);
  text-align: center;
  align-self: center;
  font-size: 1.9rem;
  font-weight: 700;
}

.UserScoreCard {
  min-width: 28rem;
  max-width: 45rem;
  height: 10rem;
}

.UserScoreCard__body {
  padding: 0;
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 20%;
  grid-template-rows: 100%;
  justify-items: center;
}

.UserScoreCard__body-item {
  align-self: center;
  text-align: center;
}

.UserScoreCard__player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.UserScoreCard__player-photo--background {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: .5rem;
}

.UserScoreCard__player-photo--image {
  width: 5rem;
  overflow: hidden;
  margin: 0 0 -1.2rem -.7rem;
}

.UserScoreCard__loader {
  position: static;
  margin-left: -3.5rem;
  margin-top: -2.2rem;
  width: 11rem;
}

.UserScoreCard__player-lastname {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
  margin: .1rem 0 0 0;
  white-space: nowrap;
  width: 85%;
}

.UserScoreCard__player-FP {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-color);
  margin: 0;
}

.UserScoreCard__result {
  width: 100%;
  height: 100%;
  border-left: .01rem solid #acacac;
  background-color: #f5f5f5;
}

.UserScoreCard__FP {
  margin-top: 25%;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 700;
}

.UserScoreCard__date {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.Lineup--sticky {
  width: 100%;
  position: sticky;
  top: 6.6rem;
  z-index: 10;
  background: linear-gradient(
    to bottom,
    var(--tertiary-color) 85%,
    transparent
  );
  padding-bottom: 2.5rem;
}

.Lineup__countdown {
  padding: 1rem;
  font-size: 1.6rem;
}

.Lineup__info-button {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  position: absolute;
  right: -49%;
  top: -20%;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

.Lineup__body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  margin: 0 auto;
  max-width: 60rem;
}

.Lineup__submit-button {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.PlayerPool {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
}

.PlayerCard {
  position: relative;
  max-width: 18rem;
}

.PlayerCard--pool {
  margin: .25rem;
}

.PlayerCard__position {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  padding: .3rem 0 .3rem 0;
}

.PlayerCard__player-logo--behind {
  position: absolute;
  width: 60%;
  left: .5rem;
  top: 1.2rem;
  z-index: 1;
}

.PlayerCard__loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.PlayerCard__image {
  position: relative;
}

.PlayerCard__background {
  position: relative;
  z-index: 0;
  width: 100%;
}

.PlayerCard__player-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
}

.PlayerCard__player-img--lineup {
  width: 100%;
}

.PlayerCard__player-attributes {
  position: relative;
  z-index: 3;
}

.PlayerCard__player-attributes--price {
  position: absolute;
  -webkit-transform: translateY(35%);
  transform: translateY(35%);
  left: 5%;
  font-size: 1.4rem;
  background-color: var(--primary-color);
}

.PlayerCard__player-attributes--price-lineup {
  font-size: .95rem;
}

.PlayerCard__player-attributes--FPPG {
  position: absolute;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  right: 3%;
}
.PlayerCard__player-attributes--FPPG-label {
  position: absolute;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  right: 3%;
  transform: translateY(100%);
}

.PlayerCard__player-attributes--position {
  position: absolute;
  color: white;
  font-weight: bold;
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
  right: 5%;
  font-size: 1.9rem;
  opacity: .7;
}

.PlayerCard__player-attributes--opponent {
  position: absolute;
  right: 3%;
  transform: translateY(180%);
  font-size: 1.2rem;
  font-weight: 400;
  z-index: 8;
  color: white;
  opacity: .7;
}

.PlayerCard__player-injury-badge {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.2rem;
  padding: .2rem;
  color: black;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 6;
}

.PlayerCard__player-injury-badge--lineup {
  font-size: .9rem;
}

.PlayerCard__button {
  position: absolute;
  color: white;
  z-index: 6;
  right: 5%;
  bottom: 18%;
}

.PlayerCard__button--circle {
  width: 4rem;
  height: 4rem;
  font-size: 1.6rem;
  border-radius: 2rem;
}

.PlayerCard__Button--selected {
  transition: background-color .3s;
}

.PlayerCard__Button--default {
  transition: background-color .3s;
}

.PlayerCard__Button__Icon {
  transition: transform .3s;
}

.PlayerCard__Button__Icon--selected {
  transform: rotate(45deg);
  transform-origin: center center;
  transition: transform .3s;
}

.PlayerCard__player-name {
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: .2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
  margin: 0;
}

.PlayerCard__player-name--lineup {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-size: 1.2rem;
}

.RequestCard {
  width: 100%;
  margin-bottom: 1.6rem;
}

.RequestCard__Body {
  display: flex;
  align-items: center;
}

.RequestCard__Info {
  display: flex;
  align-items: center;
}

.RequestCard__Avatar {
  height: 6rem;
  width: 6rem;
}

.RequestCard__Info__Name {
  margin: 0 0 0 1rem;
  font-size: 2.2rem;
}

.RequestCard__Buttons {
  height: 100%;
  padding: 0 1.25rem;
  background: var(--grey-background);
  margin-left: auto;
  display: flex;
  align-items: center;
  border-left: 0.1rem solid rgba(0, 0, 0, .15);
}

#playerModal {
  margin: 0;
}

.PlayerModal {
  padding: 0;
  width: 120rem;
  max-width: 93%;
}

.PlayerModal__PlayerName {
  font-size: 3.5rem;
  font-weight: 700;
  opacity: .8;
}

.PlayerModal__image--background {
  width: 21rem;
  height: 20.2rem;
}

.PlayerModal #table-scroll  {
  position: relative;
  width:100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 40vh;
}
.PlayerModal #table-scroll  table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}
.PlayerModal .table-wrap {
  position: relative;
}
.PlayerModal #table-scroll  th,
.PlayerModal #table-scroll  td {
  vertical-align: middle;
  min-width: 40px;
}
.PlayerModal #table-scroll  thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--primary-color);
}
/* safari and ios need the tfoot itself to be position:sticky also */
.PlayerModal #table-scroll  tfoot,
.PlayerModal #table-scroll  tfoot th,
.PlayerModal #table-scroll  tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index:4;
}

.PlayerModal #table-scroll th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  background: var(--grey-background);
  font-weight: 400;
  text-align: left;
}
.PlayerModal #table-scroll thead th:first-child,
.PlayerModal #table-scroll tfoot th:first-child {
  z-index: 5;
  min-width: 70px;
  text-align: left;
}

.PlayerModal #table-scroll th:nth-last-child(1) {
  width: 90px;
  min-width: 90px;
}

.Charts {
  max-width: 90rem;
  width: 100%; 
}

.InfoModal__thead {
  background-color: var(--primary-color) !important;
  font-weight: 700 !important;
}

.GameLog__corner-cell {
  background-color: var(--primary-color) !important;
  font-weight: 700 !important;
}

@media screen and (min-width: 568px) {
  #main-text {
    font-size: 82px;
    margin-top: 15%;
  }
}

@media only screen and (min-width: 330px) {
  .Navbar__Title {
    display: inline-block;
    margin-left: .5rem;
  }
}

@media only screen and (min-width: 100px) {
  .Navbar__Icon {
    display: inline-block;
    margin-left: .5rem;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .Header__Login {
    order: -1;
    margin-right: 1em;
  }

  .Header__LoggedIn {
    display: flex;
    flex-direction: row;
    order: -1;
  }

  .Header__Burger {
    margin-right: .5rem;
    order: -10;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .PlayerCard {
    max-width: 15rem;
  }
  .PlayerCard__player-attributes--price {
    font-size: 1.2rem;
  }
  .PlayerCard__player-attributes--price-lineup {
    font-size: .9rem;
  }
  .PlayerCard__player-attributes--FPPG {
    font-size: 1.2rem;
  }
  .PlayerCard__player-attributes--FPPG-label {
    font-size: 1rem;
  }
  .PlayerCard__player-attributes--opponent {
    font-size: 1rem;
  }
  .PlayerCard__player-name {
    font-size: 1.4rem;
    padding: .1rem;
  }
  .PlayerCard__player-name--lineup {
    font-size: 1rem;
  }
  .PlayerCard__position {
    font-size: 1rem;
    padding: .5rem;
  }
  .PlayerCard__button--circle {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.2rem;
  }
  .PlayerCard__player-injury-badge {
    font-size: 1rem;
  }
  .PlayerCard__player-injury-badge--lineup {
    font-size: .8rem;
  }
  .Lineup__submit-button {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 440px) {
  .PlayerCard__player-attributes--position {
    font-size: 1.5rem;
  }
  .PlayerCard__player-injury-badge--lineup {
    padding: .1rem;
    font-size: .7rem;
  }
}

@media only screen and (max-width: 362px) {
  .PlayerCard {
    max-width: 14rem;
  }
  .PlayerCard__player-attributes--position {
    font-size: 1.1rem;
  }
  .PlayerCard__player-attributes--price {
    font-size: 1.2rem;
  }
  .PlayerCard__player-attributes--price-lineup {
    font-size: .5rem;
  }
  .PlayerCard__player-attributes--FPPG {
    font-size: 1.2rem;
  }
  .PlayerCard__player-attributes--FPPG-label {
    font-size: 1rem;
  }
  .PlayerCard__player-attributes--opponent {
    font-size: 1rem;
  }
  .PlayerCard__player-name {
    font-size: 1.4rem;
  }
  .PlayerCard__button--circle {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.2rem;
  }
  .PlayerCard__player-injury-badge {
    font-size: 1rem;
  }
  .PlayerCard__player-injury-badge--lineup {
    padding: .1rem;
    font-size: .65rem;
  }
  .Lineup__submit-button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 380px) {
  .PlayerCard__player-name--lineup {
    font-size: .75rem;
  }
  .PlayerCard__position {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 320px) {
  .PlayerCard__player-name--lineup {
    font-size: .6rem;
  }
  .PlayerCard__position {
    font-size: .6rem;
  }
}