.News__Title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    text-align: left;
    margin: 5rem auto 1rem;
}

.News__Title:after {
    content: "";
    display: block;
    width: 10rem;
    border-bottom: solid #F1592A;
}

.News__Subtitle {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

.NewsFeed__Box {
  margin: auto;
  max-width: 77rem;
}