.TournamentDetails__Intro {
    margin-bottom: 2rem;
}

.TournamentDetails__Title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
}

.TournamentDetails__Title::after {
    content: "";
    display: block;
    width: 10rem;
    border-bottom: solid #F1592A;
}