.NewsCard {
    margin: 0 auto 7rem;
    overflow-x: hidden;
    max-width: 60rem;
}

.NewsCard__Title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: left;
    display: table;
    margin-bottom: 1rem;
}

.NewsCard__Content {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

.NewsCard__Date {
    color: rgba(0, 0, 0, .3);
    line-height: 0.5;
    margin-left: 6rem;
}

.NewsCard__Date span {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 1.6rem;
    display: inline-block;
    position: relative;
}

.NewsCard__Date span:before,
.NewsCard__Date span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid;
    top: 0;
    width: 600px;
}

.NewsCard__Date span:before {
    right: 100%;
    margin-right: 15px;
}

.NewsCard__Date span:after {
    left: 100%;
    margin-left: 15px;
}

.NewsCard__Label--vs {
    margin: 0 1rem;
}