.AchievementCard__IconWrapper {
    height: 4.5rem;
    width: 8rem;
}

.AchievementCard__Icon {
    display: table;
    margin: .5rem auto;
    width: 50%;
}

.AchievementCard__Icon__Image {
    width: 100%;
}

.AchievementCard__Level {
    text-align: center;
}

.AchievementCard__ProgressBar {
    margin: .5rem 0;
    border-radius: 5px;
}