.Injuries__InfoButton {
    position: sticky;
    background: var(--grey-background);
    z-index: 1;
    padding: 2rem 0;
    top: 5.5rem;
}

.InjuryStatus__Badge {
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 700;
    padding: .1rem .5rem;
    margin: 0 .5rem
}

.InjuryStats__Badge--text {
    opacity: .9;
}

.InjuryContainer__Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}

@media screen and (min-width: 600px)  {
    .Injuries__InfoButton {
        top: 9.6rem;
    }
}